<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="GraphEditorR.actionSet"
            label="R Action Set"
            visible="true">
         <menu
               id="rMenu"
               label="&amp;R Menu">
            <separator
                  name="factorgraphGroup">
            </separator>
         </menu>
         <action
               class="graphEditor.r.actions.RengineAction"
               icon="icons/sample.gif"
               id="graphEditor.r.actions.RengineAction"
               label="start &amp;R "
               menubarPath="rMenu/factorgraphGroup"
               toolbarPath="factorgraphGroup"
               tooltip="start R">
         </action>
      </actionSet>
   </extension>

</plugin>
